/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
}

#page,
.region-bottom {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/*
 * Header
 */
#header {
}

.region-header {
}

/*
 * Main (container for everything else)
 */
#main {
  position: relative;
}

/*
 * Content
 */
#content,
.no-sidebars #content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left; /* LTR */
  width: 960px;
  margin-left: 0; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
  padding: 0; /* IE6-7 don't support "box-sizing: border-box". If you add
                 padding or borders to this column, you need to add a special
                 IE6-7 rule so the layout doesn't break. For example, see the
                 .lt-ie8 .region-sidebar-first rule below */
}

.sidebar-first #content {
  width: 760px;
  margin-left: 200px; /* LTR */ /* The width of .region-sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.sidebar-second #content {
  width: 760px;
  margin-left: 0; /* LTR */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 560px;
  margin-left: 200px; /* LTR */ /* The width of .region-sidebar-first */
  margin-right: -760px; /* LTR */ /* Negative value of #content's width + left margin. */
}

/*
 * Navigation
 *
 * If you don't use this navigation bar, you should delete both of these rules
 * so that the content and sidebars don't "make room" for the navbar.
 */
#navigation {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left; /* LTR */
  width: 960px;
  margin-left: 0; /* LTR */
  margin-right: -960px; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* IE6-7 doesn't support "box-sizing: border-box". If you add
                 padding or borders to this column, you need to add a special
                 IE6-7 rule so the layout doesn't break. For example, see the
                 .lt-ie8 .region-sidebar-first rule below */
  height: 3em; /* The navigation must have a fixed height, but can have any
                  arbritrary value. We picked one that is the line-height plus
                  1em: 1.3 + 1 = 2.3 Set this to the same value as the
                  margin-top below. */
}

#content,
.region-sidebar-first,
.region-sidebar-second {
  margin-top: 3em; /* Set this to the same value as the navigation height above. */
}

/*
 * First sidebar
 */
.region-sidebar-first {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left; /* LTR */
  width: 200px;
  margin-left: 0; /* LTR */
  margin-right: -200px; /* LTR */ /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0 20px 0 0; /* LTR */
}
.lt-ie8 .region-sidebar-first /* IE6-7 doesn't understand "box-sizing: border-box" */ {
  width: 180px; /* So we have to subtract any left/right padding or borders from the width. */
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left; /* LTR */
  width: 200px;
  margin-left: 760px; /* LTR */ /* Width of content + sidebar-first. */
  margin-right: -960px; /* LTR */ /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0 0 0 20px; /* LTR */
}
.lt-ie8 .region-sidebar-second /* IE6-7 doesn't understand "box-sizing: border-box" */ {
  width: 180px; /* So we have to subtract any left/right padding or borders from the width. */
}

/*
 * Footer
 */
#footer {
}

/*
 * Page bottom
 */
.region-bottom /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-bottom {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

/*
 * CSS targeted specifically for Internet Explorer 6 for Windows.
 *
 * Any CSS in this file will override the rules specified in the ie.css file.
 *
 * References:
 * 1. http://www.positioniseverything.net/explorer/doubled-margin.html
 * 2. http://browservulsel.blogspot.com/2005/04/ie-overflow-auto-scrollbar-overlap.html
 * 3. http://www.howtocreate.co.uk/wrongWithIE/?chapter=overflow%3Avisible%3B
 */
.lt-ie7 #content,
.lt-ie7 #navigation,
.lt-ie7 .region-sidebar-first,
.lt-ie7 .region-sidebar-second /* Floating divs */ {
  display: inline; /* display inline or double your floated margin! [1] */
  overflow: hidden; /* in IE6, overflow auto is broken [2] and so is overflow visible [3] */
  overflow-y: visible;
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page {
  overflow-y: hidden;
}
*/
