/**
 * @file
 * RTL companion for the navigation.css file.
 */


ul li.collapsed {
  *list-style-image: url(../images/menu-collapsed-rtl.png);
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII=');
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  text-align: right;
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: right;
  padding: 0 0 0 10px;
}

#secondary-menu {
  float: left;
}
