/* Reset some styles from system.css and modal.css */

div.modal-forms-modal-content .resizable-textarea {
  margin-left: 0;
  margin-right: 0;
}

div.modal-forms-modal-content .form-item label {
  float: none;
  width: auto;
}

div.modal-forms-modal-content .item-list ul li {
  margin: 0 0 0.25em 1.5em;
}

div.modal-forms-modal-content div.messages {
  border: none;
  margin: 0;
  padding: 0;
}
div.modal-forms-modal-content div.messages > .messages {
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 40px;
}

/* Styles for modal forms modal */

div.modal-forms-modal-content {
  background: transparent;
  color: #000;
  font: 13px ;
  border: 0;
  margin: 0;
  padding: 0;
}

div.modal-forms-modal-content .modal-scroll {
  overflow: hidden;
  overflow-y: auto;
}

div.modal-forms-modal-content .popups-container {
  overflow: hidden;
  height: 100%;
  background: #fff;
  padding: 5px;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.modal-forms-modal-content .modal-header {
  background-color: transparent;
}

div.modal-forms-modal-content .modal-title {
  display: inline;
  color: #000;
}

div.modal-forms-modal-content .popups-close {
  float: none;
  text-align: left;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  background: url(../images/controls.png) -25px 0px no-repeat;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

div.modal-forms-modal-content .popups-close:hover {
  background-position: -25px -25px;
}
