/**
 * @file
 * Environment info css.
 *
 * @author Tom Kirkpatrick (mrfelton), www.systemseed.com
 */

#environment-indicator {
  background: #d00c0c;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 30px;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  z-index: 1000;
  padding-top: 5px;
}
body > #environment-indicator {
  position: fixed;
}

body.environment-indicator-left #environment-indicator {
  left: 0px;
}

body.environment-indicator-right #environment-indicator {
  right: 0px;
}

html {
  height: 100%;
}

body.environment-indicator {
  min-height: 100%;
}

body.environment-indicator-adjust.environment-indicator-left {
  margin-left: 30px;
}

body.environment-indicator-adjust.environment-indicator-right {
  margin-right: 30px;
}

/* compatability with admin.module */
body.environment-indicator-adjust.environment-indicator-left.admin-expanded.admin-vertical.admin-nw,
body.environment-indicator-adjust.environment-indicator-left.admin-expanded.admin-vertical.admin-sw { margin-left:290px; }

body.environment-indicator-adjust.environment-indicator-left div#admin-toolbar.nw,
body.environment-indicator-adjust.environment-indicator-left div#admin-toolbar.sw { left:30px; }
body.environment-indicator-adjust.environment-indicator-left div#admin-toolbar.sw .admin-toggle { left:30px; }
body.environment-indicator-adjust.environment-indicator-left.admin-expanded div#admin-toolbar.sw .admin-toggle { left:0; }


body.environment-indicator-adjust.environment-indicator-right.admin-expanded.admin-vertical.admin-ne,
body.environment-indicator-adjust.environment-indicator-right.admin-expanded.admin-vertical.admin-se { margin-right:290px; }

body.environment-indicator-adjust.environment-indicator-right div#admin-toolbar.ne,
body.environment-indicator-adjust.environment-indicator-right div#admin-toolbar.se { right:30px; }
body.environment-indicator-adjust.environment-indicator-right div#admin-toolbar.se .admin-toggle { right:30px; }
body.environment-indicator-adjust.environment-indicator-right.admin-expanded div#admin-toolbar.se .admin-toggle { right:0; }

/* compatability with admin_menu.module */
body.environment-indicator-adjust.environment-indicator-left #admin-menu #admin-menu-wrapper {
  margin-right: 0px;
  padding-left: 30px;
}

/* compatability with admin_menu.module */
body.environment-indicator-adjust.environment-indicator-right #admin-menu #admin-menu-wrapper {
  padding-right: 30px;
}

/* Hide the menu on print output. */
@media print {
  #environment-indicator {
    display: none !important;
  }
  body.environment-indicator {
    margin-left: 0 !important;
  }
}
